[submodule "ROS/src/full_coverage_path_planner"]
	path = ROS/src/full_coverage_path_planner
	url = https://github.com/nobleo/full_coverage_path_planner
[submodule "ROS/src/robot_localization"]
	path = ROS/src/robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization
[submodule "ROS/src/rosbridge_suite"]
	path = ROS/src/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite
[submodule "ROS/src/turtlebot3"]
	path = ROS/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
[submodule "ROS/src/ublox"]
	path = ROS/src/ublox
	url = https://github.com/KumarRobotics/ublox
