<launch>
    <!-- Set the console to display debug info, comment next line to not display debug info. -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find walter)/cfg/debug_ros_console.conf"/>

    <!-- Create node for walter -->
    <node pkg="walter" type="walter_node" name="walter_instance" output="screen"/>



</launch>