<launch>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find walter)/cfg/debug_ros_console.conf"/>

<!-- <node pkg="turtlebot3_gazebo" type="turtlebot3_simulation" name="turtlebot" output="screen" /> -->
    <node pkg="walter" type="walter" name="walter_instance" output="screen">
    </node>
<!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find walter)/rviz/config_file.rviz" /> -->
</launch>