<launch>\
            <!-- Set the console to display debug info, comment next line to not display debug info. -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find walter)/cfg/debug_ros_console.conf"/>

    <!-- Node containing mockup gps sensor -->
    <node pkg="walter" type="walter_gps_sensor_node" name="walter_gps_sensor_instance" output="screen"/>

    <!-- Node containing mockup battery sensor -->
    <node pkg="walter" type="walter_battery_sensor_node" name="walter_gps_sensor_instance" output="screen"/>



</launch>